<script id="infoDirNotFound" type="text/x-jquery-tmpl">
	<div class="close" onclick="hideInfromationBlock()">close</div>
	<div class="pad">Sorry, but this location does not exists on this server</div>
</script>
<script id="infoNothingFound" type="text/x-jquery-tmpl">
	<div class="close" onclick="hideInfromationBlock()">close</div>
	<div class="pad">No files found by your search request</div>
</script>
