<script id="navBarTmpl" type="text/x-jquery-tmpl">
	<span class="loc-leaf" id="leaf-${id}"><a href="#go=${id}"><span class="pad-leaf">${name}</span></a></span>
</script>
<script id="navLink" type="text/x-jquery-tmpl">
	<a href="${url}">${title}</a>
</script>
<script id="navBarCurrentTmpl" type="text/x-jquery-tmpl">
	<span class="loc-leaf" id="${id}"><a href="#go=${id}"><span class="pad-leaf">${name}</span></a></span>
</script>
